<section>
<h2>Welcome to SumDay, your Instagram investing utility</h2>
</section>


<section>
    <div class="wrapper">
        <form class="form-signin">
            <h4 class="form-signin-heading">Please synchronize with Instagram </h4>
            <label for="phoneNumber">Phone Number:</label>
            <input [(ngModel)]="phoneNumber" type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" required="" autofocus="" />
            <label for="userName">Username:</label>
            <input [(ngModel)]="userName" type="text" class="form-control" id="userName" name="userName" placeholder="Username" required=""  />
            <label for="password">Password:</label>
            <input [(ngModel)]="password" type="password" class="form-control" name="password" placeholder="Password" required="" />
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
            <button (click)="login()" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
</section>